<div class="row">
  <% @spots.each do |spot| %>
    <div class="col-sm-12 col-md-12 thumbnails-image-list">
      <%= link_to spot_path(spot) do %>
        <div class="thumbnail thumbnail-image-box-small" style="background-image: url(<%= spot.picture %>);">
    			<div class="caption">
        		<h3><%= spot.name%></h3>
  				</div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>