<% @spots.each do |spot| %>
  <div class="thumbnails-image-list">
    <%= link_to spot_path(spot) do %>
      <div class="thumbnail thumbnail-image-box-small" style="background-image: url(<%= spot.picture %>);">
  			<div class="caption">
      		<h3><%= spot.name%></h3>
				</div>
      </div>
    <% end %>
  </div>
<% end %>
