<div class="container">
	<%= render "category" %>
  <br>
  <br>

	<h4><%= Place.find(@place_id).name if @place_id %></h4>
	Category <strong><%= params[:category] %></strong>
	<br>
	<% @category_spots.each do |spot| %>
		<div class="well">
			<%= render partial: "spots/spot", locals: {spot: spot} %>
		</div>
	<% end %>
</div>