<h4>Spots</h4>
<% @spots.each do |spot| %>
	<div class="well">
	<%= link_to spot_path(spot) do %>
		<strong><%= spot.name%></strong><br>
	<% end %>
	<%= spot.category %>
	</div>
<% end %>

<%= link_to 'Spot 만들기', new_spot_path, class: 'btn btn-default' %>