/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';


/* WHOLE */

.container {
	padding-top: 15px;
	
}

.inline {
	display: inline-block !important;
}

.w-100 {
	width: 100%;
}

.font-12 {
	font-size: 12px;
}


/* OLD NAVBAR */
.navbar-head {
	height: 50px;
	padding: 0 30px;
	border-bottom: 1px solid gray;
	display: block;
}

.navbar-head-left {
	display: inline-block;
	text-decoration: none;
}

.navbar-logo-image {
	height: 40px;
	width: 140px;
	margin: 5px 20px 0 0;
	display: inline-block;
}

.navbar-head-logo {
	display: inline-block;
}

.navbar-head-link  {
	display: inline-block;
	height: 50px;
	width: 100px;
	text-align: center;
	padding: 14px 2% 20px 2%;
	margin: 0 -2px;
	color: #844447;
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
}

.navbar-head-link:hover, .navbar-head-link:active {
	background-color: #844447;
	text-decoration: none;
	color: white;
}

.navbar-head-right {
	text-align: right;
	padding-top: 15px;
	font-size: 14px;
}

.navbar-login-fb {
	margin-top: -5px;
}





/* WHITE NAVBAR */

.white-navbar {
	 height: 65px; 
	 width: 100%; 
	 /*border-bottom: 1px solid black; */
	 padding-top: 7px; 
	 position:fixed; 
	 background-color: white; 
	 font-size: 12px;
	 z-index: 1;
}

.navbar-link-icon {
	width: 19%; 
	display:inline-block;
	height: 100%;
}

.navbar-link-box {
	width: 20%; 
	display:inline-block;
	height: 100%;
	height: 28px;
	text-decoration: none;
	color: black;
	padding-top: 5px;
	margin: 0 -2px;
}

.navbar-link-box:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.navbar-link-box:active {
	background-color: black;
	color: white;
	text-decoration: none;
}


.navbar-link-box-all {
	background-color: #c6b297;
}

.navbar-link-box-do {
	background-color: #f5e4cd;
}

.navbar-link-box-see {
	background-color: #f8ecdc;
}

.navbar-link-box-eat {
	background-color: #c0dfff;
}

.navbar-link-box-sleep {
	background-color: #8ec5de;
}

/* MAIN PAGE */

.main-background {
	height: 100vh;
	background-image: url("/assets/main_background.jpg");
	background-size: cover;
	background-position: center center;
	position: relative;
}

.main-categories-all {
	height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-categories-box {
	height: 35%;
	width: 60%;
	background-color: rgba(255,255,255,0.5);
	align-items: center;
	display: flex;
  justify-content: center;
}

.background-box{
  height: 100%;
  align-items: center;
  padding-top: 3%;
  justify-content: center;
}

.main-category {
	height: 50px;
	width: 150px;
	border: 1px solid gray;
	/*border-radius: 10%;*/
	display: inline-block;
	color: white;
	font-size: 20px;
	margin: 0 5px;
	padding-top: 1.3%;
}

.main-category:hover, .main-category:active {
	text-decoration: none;
	color: black;
	background-color: gray;
}

.main-do {
	background-color: red;
}

.main-see {
	background-color: red;
}

.main-eat {
	background-color: red;
}

.main-sleep {
	background-color: red;
}



/* LOGIN VIEW */
.login-background {
	background-image: url("/assets/main_background.jpg");
	background-size: cover;
	background-position: center center;
}
.login-fb {

}

/* CONTENT VIEW */

.thumbnail-image-box {
	min-height: 200px;  
	background-size: cover; 
	background-position: center center;
}


/* SPOT SHOW LEFT MENU */
.spot-list-left {
	min-height: 100vh;
}

.thumbnails-image-list {
	padding: 30px;
	display: flex;
  justify-content: center;
	text-align: center;
	
}
.thumbnail-image-box-small {
  height: 100px; 
  width: 200px;
  margin: -20px;
  background-size: cover; 
	background-position: center center;
}

.mu-20 {
	margin-top: 20px;
}
.mu-10 {
	margin-top: 10px;
}
.ml-20 {
	margin-left: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
.pu-10 {
	padding-top: 10px;
}