/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';


/* NAVBAR */
.navbar-head {
	height: 50px;
	padding: 0 30px;
	border-bottom: 1px solid gray;
}

.navbar-head-left {
	display: inline-block;
	text-decoration: none;
}

.navbar-logo-image {
	height: 40px;
	width: 40px;
	margin: 0 20px 0 0;
	display: inline-block;
}

.navbar-head-logo {
	display: inline-block;
}

.navbar-head-link  {
	display: inline-block;
	height: 50px;
	width: 100px;
	text-align: center;
	padding: 14px 2% 20px 2%;
	margin: 0 -2px;
	
}

.navbar-head-link a {
	color: #844447;
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
}

.navbar-head-link:active {
	background-color: #844447;
}

.navbar-head-link:active a {
	color: white;
}

.navbar-head-right {
	text-align: right;
	padding-top: 15px;
	font-size: 14px;
}