// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.place-index{
	float: left;
    width: 33%;
    background: none;
    height: 100%;
    overflow: scroll;
}