<div class="container">
  <h4>Places</h4>
  <%= link_to 'Place 만들기', new_place_path, class: 'btn btn-default' %>
  <br><br>
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-sm-4 col-md-3">
        <%= link_to place_path(place) do %>
          <div class="thumbnail" style="min-height: 200px; background-image: url(<%= place.picture.url %>); background-size: cover;">
      			<div class="caption">
          		<h3><%= place.name%></h3>
    				</div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>